.blog {
	background-color: $brandColor;
	&_innerwrap {
		padding-top: 120px;	
	}
	&-boxeswrap {
		@include flexbox;
		@include justify-content(space-between);
		margin-bottom: 90px;
		@include mediumDown {
			@include flex-direction(column);
		}
	}		
	&-box {
		background: $accentColor;
		border-left: 9px solid $baseColor;
		padding: 17px 0;
		@include flex-basis(32%);
		color: #2c3e50;
		h4 {
			padding: 5px 13px;
		}
		&-text {
			padding: 9px;
		}
		&-headline {
			@include flexbox;
			h4 {
				font-family: $latoBold;
			}
		}
		@include mediumDown {
			margin-top: 14px;
		}
	}
	&-read {
		@include flexbox;
		@include justify-content(flex-end);		
		padding-right: 7px;
	}
	& .pagination {
		margin-bottom: 70px;
	}
}
