#scroll-button {
	position: fixed;
	padding: 8px 10px 12px;
	background-color: #2c3e50;
	text-align: center;
	right: 100px;
	bottom: 110px;
	display: none;
	&:hover {
		opacity: 0.5;
	}
	@include mediumDown {
		right: 20px;	
	}
}